@inherits LayoutComponentBase

<MudThemeProvider @rendermode="RenderMode.InteractiveServer" />
<MudPopoverProvider @rendermode="RenderMode.InteractiveServer" />
<MudDialogProvider FullWidth="true"
                   CloseButton="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   Position="DialogPosition.TopCenter" 
                   @rendermode="RenderMode.InteractiveServer" />
<MudSnackbarProvider @rendermode="RenderMode.InteractiveServer" />

<div class="page">
    <main>
        <article class="content px-4">
            <br /><br />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

