@inherits LayoutComponentBase

<MudThemeProvider @rendermode="RenderMode.InteractiveServer" />
<MudPopoverProvider @rendermode="RenderMode.InteractiveServer" />
<MudDialogProvider FullWidth="true"
                   CloseButton="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   Position="DialogPosition.TopCenter" 
                   @rendermode="RenderMode.InteractiveServer" />
<MudSnackbarProvider @rendermode="RenderMode.InteractiveServer" />

<div class="page">
 @*    <div class="sidebar">
        <NavMenu />
    </div> *@
    <main>
        <MudToolBar Style="background-color:#4E3434; color: white" class="top-row px-4">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
            <MudText Align="Align.Left"><b>V.O.W</b></MudText>
            <MudSpacer />
            <LoginButton />
        </MudToolBar>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

