  <MudAppBar Elevation="4" Style="background-color:#4E3434; color: white">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
            <MudText Align="Align.Left" Class="font-bold">V.O.W</MudText>
            <MudSpacer />
            <LoginButton />
    <a href="reservation" style="color:white; text-decoration:underline">Available Gowns</a>
        </MudAppBar>

