@page "/by-size"

<style>
    .custom-dialog-title {
        background-color: #4E3434;
        color: white;
        text-align: center;
    }
</style>

<MudDialog TitleClass="custom-dialog-title" DisableSidePadding="true">
    <TitleContent>
        <MudText Typo="Typo.h6" Style="color:white">Size Chart</MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 650px; padding: 20px;">
            <div class="container mt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Measurement</th>
                            <th>XS</th>
                            <th>S</th>
                            <th>M</th>
                            <th>M-L</th>
                            <th>XL</th>
                            <th>XXL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Shoulder</td><td>14</td><td>14</td><td>15</td><td>15</td><td>16</td><td>17</td></tr>
                        <tr><td>Back Chest</td><td>14</td><td>12</td><td>12</td><td>12</td><td>13</td><td>14</td></tr>
                        <tr><td>Front Chest</td><td>12</td><td>12</td><td>12</td><td>12</td><td>13</td><td>14</td></tr>
                        <tr><td>Bust</td><td>12</td><td>12</td><td>12</td><td>12</td><td>14</td><td>16</td></tr>
                        <tr><td>Tip of Bust</td><td>12</td><td>12</td><td>12</td><td>12</td><td>13</td><td>14</td></tr>
                        <tr><td>Bust Distance</td><td>12</td><td>12</td><td>12</td><td>12</td><td>13</td><td>13</td></tr>
                        <tr><td>Empire Level</td><td>28</td><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td></tr>
                        <tr><td>Front Figure</td><td>28</td><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td></tr>
                        <tr><td>Back Figure</td><td>28</td><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td></tr>
                        <tr><td>Waist</td><td>24</td><td>26</td><td>28</td><td>30</td><td>32</td><td>34</td></tr>
                        <tr><td>1st Hip</td><td>30</td><td>32</td><td>34</td><td>36</td><td>38</td><td>40</td></tr>
                        <tr><td>2nd Hip</td><td>32</td><td>34</td><td>36</td><td>38</td><td>40</td><td>42</td></tr>
                        <tr><td>Short Skirt</td><td>30</td><td>32</td><td>34</td><td>36</td><td>38</td><td>40</td></tr>
                        <tr><td>Long Skirt</td><td>34</td><td>36</td><td>38</td><td>40</td><td>42</td><td>44</td></tr>
                        <tr><td>Armhole</td><td>12</td><td>14</td><td>16</td><td>18</td><td>20</td><td>22</td></tr>
                        <tr><td>Short Sleeve</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
                        <tr><td>Full Arm Circ.</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td></tr>
                        <tr><td>Elbow Level</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
                        <tr><td>Wrist</td><td>6</td><td>6</td><td>7</td><td>7</td><td>8</td><td>9</td></tr>
                        <tr><td>Neck Circ.</td><td>12</td><td>12</td><td>13</td><td>13</td><td>14</td><td>15</td></tr>
                        <tr><td>Neck Drop</td><td>7</td><td>8</td><td>8</td><td>8</td><td>9</td><td>9</td></tr>
                    </tbody>
                </table>
            </div>
        </MudContainer>
    </DialogContent>
</MudDialog>
