@page "/"
@rendermode InteractiveServer


<NewNavMenu />

<style>
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        text-align: center;
    }
</style>

<h1>VERGO ONLINE WEAR <br /> GOWN RENTAL & RESERVATION SYSTEM</h1>