@page "/"
@rendermode InteractiveServer


<MudAppBar Elevation="4" Style="background-color:#4E3434; color: white">
    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
    <MudText Align="Align.Left" Class="font-bold">V.O.W</MudText>
    <MudSpacer />
    <LoginButton />
</MudAppBar>


<style>
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        text-align: center;
    }
</style>

<h1>VERGO ONLINE WEAR <br />
    GOWN RENTAL & RESERVATION SYSTEM </h1>