@page "/"
@rendermode InteractiveServer

<NewNavMenu />
<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;">
    <h1>HELLO WORLD!</h1>
</div>


@code {
   
}
